@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}

span{
    color: #0056D2;
}

.active{
    color: #0056D2;
}
.bg-gray{
    background-color: #f2f2f7;
}
.bg-blue{
    background-color: #0056D2;
}
.blue{
    color: #0056D2;
}
.bg-green{
    background-color: #16A34A;
}
.green{
    color: #16A34A;
}